* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparent;
  background: linear-gradient(160deg, lemonchiffon, skyblue);
}